# .env.prod.example

VITE_API_URL=https://appleilao.gsntech.com.br/api/auctions
PORT=3001
NODE_ENV=production
DATABASE_URL=postgres://usuario:senha@host:port/database
WEBHOOK_N8N_SODRE=https://seu-webhook-sodre.com
WEBHOOK_N8N_LEILOES_MS=https://seu-webhook-leiloes-ms.com
WEBHOOK_N8N_SUPERBID=https://seu-webhook-superbid.com
WEBHOOK_N8N_COPART=https://seu-webhook-copart.com
WEBHOOK_N8N_AUTOTRAN=https://seu-webhook-autotran.com
WEBHOOK_N8N_PESTANA=https://seu-webhook-pestana.com
WEBHOOK_N8N_MARCA_LEILOES=https://seu-webhook-marca-leiloes.com
